<!DOCTYPE html>
<html lang="en">
    <%- include('./components/head.ejs')  %>
<body>
    <%- include('./components/navbar.ejs')  %>
    <div>
        <h3>404 Not Found</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id modi accusamus ipsa? Soluta est voluptas doloribus necessitatibus alias aperiam, enim nisi numquam commodi repellat praesentium quae id modi fugit hic!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia consequuntur ullam rem, vel aspernatur earum dolor fugiat incidunt repellat eaque ab tenetur magni assumenda provident aperiam. Perspiciatis nesciunt eaque vitae.
            
        </p>
    </div>
</body>
</html>