<!DOCTYPE html>
<html lang="en">
    <%- include('./components/head.ejs')  %>
<body>
    <%- include('./components/navbar.ejs')  %>
    <div class="container">
        <h3>About Page</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo id accusantium odio dignissimos fugiat veniam possimus suscipit consequuntur expedita facilis ut quam, corrupti nam laboriosam? Soluta quisquam blanditiis nobis accusamus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum praesentium nemo itaque sit placeat, ratione harum in omnis minima voluptate laboriosam exercitationem quae porro nam nostrum. Ratione vitae incidunt aperiam?
        </p>
    </div>
</body>
</html>